################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/40001-Centric_OldDBN/40001-Centric_OldDBN.sqlproj.user
