################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/40001-Centric_OldDBN/40001-Centric_OldDBN.sqlproj.user
/40001-Centric_OldDBN/40001-Centric_OldDBN.sqlproj
/40001-Centric_OldDBN/40001-Centric_OldDBN.jfm
/40001-Centric_OldDBN/40001-Centric_OldDBN.dbmdl
